.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.nav,
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
}
.header {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  min-width: 30%;
  max-width: 100%;
  min-height: 200px;
  padding: 40px;
  background: linear-gradient(45deg, #08af56, #780bf4);
}
.form {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form input {
  padding: 10px 5px;
  width: 100%;
  font-size: 1.1rem;
}
.todos-container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding: 30px;
  max-height: 100%;
  flex: 1;
}
.todo-card {
  display: flex;
  min-width: 40%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(45deg, #08af56, #780bf4);
  gap: 5px;
}
.todo-card p {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit {
  color: limegreen;
}
.delete {
  color: red;
}

.footer {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.footer-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-link h2,
.footer-link i {
  font-size: 1.5rem;
  color: #fff;
}
